@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.body{
    
    width: 50vw;
    height: auto;
    background-image: linear-gradient(to left bottom, #0a2f97, #2645a8, #3c5cb7, #5172c7, #6789d5, #6e93dd, #769de4, #7ea7ec, #78a6f0, #70a6f3, #68a5f7, #5fa5fb);

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    z-index: 9;
    left: 25vw;

    border: 5px solid lightgray;
  box-shadow: 20px 20px 60px #ccc;
  border-radius: 10px;
}
.body::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .close{
    height: 5%;
    display: flex;
    justify-content: end;
  }
  .main{
    height: 95%;
  }
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lable p{
    font-size: 24px;
    color: white;
    margin: 10px;
}
.input{
    margin: 5px;
    padding: 5px;
    height: 30px;

}
.submit{
    color:white;
    width: 100px;
    background-color: var(--b2-color);
    border: var(--b1-color) 2px solid;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.submit:hover{
    background-color: var(--b1-color);
}

.alert{
    color: red;
}

