@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.main {
    height: 80vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    height: 85%;
    width: 30%;
    min-width: 150px;

    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* 房主 */
.lefttop{
    width: 100%;
    height: 80px;
    background-color: rgb(243, 182, 143);
    
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 成員 */
.leftbtm {
    width: 100%;
    height: 70%;
    background-color: rgb(243, 182, 143);
    
    border-radius: 20px;

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* 左半邊 */
.mainperson {
    width: 80%;
    height: 50px;

    display: flex;
    justify-content: start;
    align-items: center;


}


.person {
    width: 80%;
    height: 50px;
    border-bottom: 1px gray solid;

    display: flex;
    justify-content: start;
    align-items: center;


}


.puserphoto {
    width: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    margin-left: 30%;
    margin-right: 10px;
}

.puserphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 右半邊 */


.right {
    width: 60%;
    min-width: 300px;
    height: 80%;

    
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}


.chatcontent{
width: 100%;

height: 70%;
margin-bottom: 5%;
padding: 20px;
background-color: white;


border-radius: 20px;
border: 3px solid var(--b1-color);


}
.textinput{
    width: 100%;
    height: 25%;
    
    padding: 20px;
    /* border-radius: 20px;
    border: 3px solid var(--b1-color); */

    display: flex;
    justify-content: space-between;
}

.input{
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid var(--b1-color);

}
.submit{
    width: 100px;
    margin-left: 29px;

    border-radius: 20px;
 
    border: 3px solid var(--b1-color);
}