@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.header {
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hleft {
    width: 200px;
}

.hlogo {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.hlogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hmiddle {
    font-size: var(--h5-font-size);
    color: var(--b1-color);
    font-family: 'Sixtyfour', sans-serif;
}

.hright {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.huser {
    margin-right: 10px;
    font-size: var(--h5-font-size);
}

.logout p{
    color: black;
    font-size: var(--h6-font-size);
}

.logout p:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.huserphoto {
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.huserphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}