@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


.main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mains{
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 20px;
    border: 5px solid var(--b2-color);

    padding: 10px;
}

/* 主範圍 */

.Middle{
    width: 100%;
    height: 80%;
    
    
    border: 3px var(--b2-color) solid;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--b1-color);


}
.MmarginAuto{

    max-width: 850px;
    
    margin: auto;
    display: flex;
    flex-wrap:wrap;
}
.chatbox{
    width: 180px;
    height: 180px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 10px transparent solid;
    align-items: center;
    justify-content: center;
    cursor:pointer
    
}

.chatbox:hover{
    border: 10px var(--g2-color) solid;
    
}

.roomname p{
    font-size: 20px;
    font-weight: bold;
    color: var(--g1-color);
    
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px;

}


.people, .lock, .author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.people p, .lock p, .author p{
    margin-top: 15px;
    color: var(--b2-color);
}
