@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');



/* 筐內top */
.top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}

.topC {

    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  
}

.topC img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
